#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.link-button{
  text-decoration: underline;
  color: lightblue;
  background: none;
  padding: 0;
}

#formError{
  color: lightcoral;
}